{% extends 'base.html' %}

{% block content %}
    <h2>Search</h2>

<form method="get" action=".">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>

{% if query %}
    <!-- Begin faceting. -->
    <h2>By Author</h2>

    <div>
        <dl>
            {% if facets.fields.email %}
                <dt>Email</dt>
                {# Provide only the top 5 email #}
                {% for f in facets.fields.email|slice:":50" %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=email_exact:{{ f.0|urlencode }}">{{ f.0 }}</a> ({{ f.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No email facets.</p>
            {% endif %}
        </dl>
    </div>
    <!-- End faceting -->

    <!-- Display results... -->
    {% for result in results %}
        <div class="search_result">
            <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.first_name }}</a></h3>

            <p>{{ result.text|truncatewords:80 }}</p>
        </div>
    {% empty %}
        <p>Sorry, no results found.</p>
    {% endfor %}
{% endif %}


{% endblock %}